* {
  box-sizing: border-box;
}

html {
  text-align: center;
}

body {
  font-family: 'Oswald', sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contnt {
  width: 550px;
  background-color: #e8f5e9;
  padding: 15px;
}

.title {
  font-size: 32px;
  color: #1b5e20;
  text-transform: uppercase;
}
.btn-action {
  width: 80%;
  background-color: #2e7d32;
  color: #e8f5e9;
  font-weight: bold;
  font-size: 24px;
  border: 0;
  border-radius: 5px;
}
.btn-action:hover {
  background-color: #43a047;
}
.btn-action:active {
  background-color: #1b5e20;
}
